<div class="card">
    <mat-card>

        <div class="card-position" *ngFor="let data of arrayData">
           
            <div class="person-picture"> 
                <img src="{{ data.picture}}" alt="Profile picture">    
                <div class="position-number">
                    <h5>{{ itemIndex }}</h5>
                </div>            
            </div>          
            
            <div class="person-info">
                <h3>{{ data.name.split(' ', 2).join(' ') }}</h3>
                <h5>{{ data.description }}</h5>
            </div>

        </div>

    </mat-card>
</div>



